/*{---- borde para ver que es----
    border: 1px dashed red;
    min-height: 10px;
}
*/
body {
    font-family: Arial, sans-serif;
    background-color: #adabab;
    line-height: 1.6;
    margin: 0;
}


header {
    text-align: center;
    background-color: white;
    padding: 1px 0;
    margin-bottom: 40px;
}

header h1 {
    font-size: 24px;
    color: #000000;
    font-weight: bold;
}

.feed {
    display: flex;
    flex-direction:column;
    width: 600px;
    margin: auto;
}

.post {
    background-color: #fff;
    margin-bottom: 40px;
    border: 1px solid #ffffff;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
}

.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #ffffff;
    border-bottom: 1px solid #ffffff;
}

.post-title {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.post-counter {
    font-size: 14px;
    color: #000000;
}

.post-image img {
    width: 100%;
    height: auto;
}

.post-footer {
    padding: 15px;
    font-size: 14px;
    color: #000000;
    background-color: #f9f9f9;
    
}
